# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Flask SQLite database
backend/instance/

# Environment files
.env
*.env

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db